* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

.container{
  display: grid;
  grid-template-columns: 70% 15% 15%;
  text-align: center;
  font-weight: bold;
  background-color: orange;
}
.main-header{
  margin-left: 400px;
  font-size: 2em;
  letter-spacing: 0.3em;
}
.wine-form-button{
  background-color: orange;
  color: green;
  font-weight: bolder;
  font-size: 1em;
  border-radius: 5px;
  margin-top: 8px;
  padding: 0 4px;
  text-align: center;
  align-content: center;
  border: black 2px solid;
  
}
.wine-form-button:hover{
  color: black;
  background-color: red;
}

footer{
  text-align: center;
  font-style: italic;
  font-size: 1em;
  padding: 5px;
  height: 1em;
  font-weight: bold;
  background-color: orange;
}

.wrapper{
  width: 100% auto;
  height: 80% auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;  
}

ul{
  border: 3px white solid;
  list-style: none;
  margin: 10px;
  margin-top: 25px;
}

li{
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

img {
  width: 280px;
  height: 280px;
}

.child-modal {
  text-align: center;
  margin: 0;
}

.modal-button{
  font-size: 1em;
  border: 1px gray solid;
  padding: 0 2px;
  font-style: italic;
  background-color: white;
  margin-top: 10px;
}
.modal-button:hover{
  background-color: green;
  color: white;
}

.wine-form__h4{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
input{
  font-size: 0.8em;
  font-style: italic;
  width: 30%;
  margin-left: 10px;
  padding-left: 5px;
  border: 1px lightslategrey solid;
}
.wine-form__btn{
  border: 1px white solid;
  background-color: rgb(26, 20, 20);
  letter-spacing: 0.9em;
  box-shadow: 10px 5px 5px red;;
  font-size: 1.1em;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
  margin-top: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: red;
}
input:focus {
  border-color: black;
}

/* @media {

} */