* {
  margin: 0;
  padding: 0;
}

body {
  background-color: whitesmoke;
}

header{
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  background-color: orange;
}

footer{
  text-align: center;
  font-style: italic;
  font-size: 1em;
  padding: 5px;
  height: 1em;
  font-weight: bold;
  background-color: orange;
}

.wrapper{
  width: 100% auto;
  height: 80% auto;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;  
}

ul{
  border: 3px white solid;
  list-style: none;
  margin: 10px;
  margin-top: 25px;
}

li{
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

img {
  width: 300px;
  height: 300px;
}


/* @media {

} */